$screen-phone-min-width: 320px;
$screen-phone-max-width: 959px;

$screen-tablet-min-width: 960px;
$screen-tablet-max-width: 1365px;

$screen-desktop-min-width: 1366px;
$screen-desktop-max-width: 1919px;

$screen-desktop-large-min-width: 1920px;

$main-font: 'Montserrat';

$main-btn-color: #007bff;
$main-bg-btn-color: #fff;
$main-h-color: #52514f;

$header-bg-color: #3377f5;

$nav-link-bg-hover-color: #ddd;
$nav-link-bg-color: #000;
$nav-bg-color: #333;

// colors
$white: #fff;